@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
*{
    font-family: 'Poppins';

}
form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.wrap{
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    justify-content: center;
}   
h1{
    color: white;
    font-weight: 400;
}
p:has(.spacing){
    color: white;
    font-size: 1rem;
    text-transform:capitalize;
    padding: 5px;
}
label{
    padding: 0 15px;
    font-size: 1.5rem;  
    color: white    ;
}
select{
    text-align: center; 
}
input{
    border: white 2px solid;
    border-radius: 30px;
    color: white;
    background-color: transparent;
     font-size: 1.2rem;
     padding: 10px 20px;
    text-align: center;
}
select{
    border: white 2px solid;
    border-radius: 30px;
    color: white;
    background-color: transparent;
     font-size: 1.2rem;
     padding: 10px 60.92px;
    text-align: center;
}
option{
    background-color: #232323;
    padding: 0 10px;
    width: 100%;
}
.spacing{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
